@font-face{
  font-family: "AppleFont";
src: url(SF-Pro-Text-Regular.otf);
}

*{
  margin: 0;
}

nav {
    background-color: white;
    padding: 0px 22px;
    height:44px;
    font-family: AppleFont;
}

.navbar {
    box-sizing: border-box;
    padding: 0px 8px 0px 8px;
    display: flex;
    align-items:center;
    justify-content:center;
    margin-left: -8px;
    margin-right: -8px;
    height: 44px;
  }


  #hamburger div{
    height: 1px;
    width: 25px;
    background-color: rgb(29, 29, 31);
    margin: 6px 0px;
  }

#hamburger{
  display:none;
}

  .icon{
    margin: 0px 14px;
  }

  .text a{ 
    text-decoration: none;
    color:#6e6e73;
    text-align: left;
    font-size: 13px;
    margin: 0px 14px;
  }

  h1{
    font-size: 48px;
    line-height: 48px;
    margin: 0px;
    padding: 0px;
  }


  #imagePanel1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 569px;
    width: 100vw;
    background-image: url(./hero_bts2023_startframe__f787lg06y3ue_large_2x.jpg);
    background-size: cover;
    background-position:center;
  }

#imagePanel1 a{
  color: #2997ff;
}

  .img1txt{
    text-align: center;
    font-family: AppleFont;
  }

  #link1{
    text-decoration: none;
    font-family: AppleFont;
    text-align: center;
  }

  #imagePanel2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 569px;
    width: 100vw;
    background-image: url(./hero_macbook_air_15_midnight__ct0pgwizvree_large_2x.jpg);
    background-size: cover;
    background-position:center;
  }

  #imagePanel2 a{
    color: #2997ff;
  }

  .img2txt{
    text-align: center;
    font-family: AppleFont;
    font-style: normal;
  }

  #link2 {
    text-decoration:none;
    font-family: AppleFont;
    text-align: center;
  }

  #imagePanel3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 569px;
    width: 100vw;
    background-image: url(./hero_iphone14_yellow__eun20sn4imi6_large_2x.jpg);
    background-size: cover;
    background-position:center;
  }

#imagePanel3 a{
  color: #2997ff;
}

  .img3txt{
    text-align: center;
    font-family: AppleFont;
    font-style: normal;
  }

  #link3{
    text-decoration:none;
    font-family: AppleFont;
    text-align: center;
  }

  .imageGrid{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    
  }

  .imageGrid div{
    width: calc(50% - 10px);
    margin: 5px;
    height: 580px;
    background-position: center;
    background-size:contain;
  }
  .imageGrid a{
      color: #2997ff;
      text-decoration: none;
    }

  #gridimg1{
    background-image: url(./promo_apple_event_september__c1zbjahmv18i_medium_2x.jpg);
  }

  .grid1txt{
    text-align: center;
    font-family: AppleFont;
    font-style: normal;
    color:white;
  }

  #link4 {
    text-decoration:none;
    font-family: AppleFont;
    text-align: center;
    margin: 0 auto;
    display:block;
  }

  #gridimg2{
    background-image: url(./promo_iphone14pro_spring__c7pyovk04j2a_medium_2x.jpg);
  }

  .grid2txt{
    text-align: center;
    font-family: AppleFont;
    font-style: normal;
    color:white;
  }

  .link5 {
    text-decoration:none;
    font-family: AppleFont;
    margin: 0 auto;
    display:block;
    text-align:center
  }

  #gridimg3{
    background-image: url(./promo_ipadpro_refresh__evi9utuixwuq_medium_2x.jpg);
  }
  .M2{
    display: inline-block;
    margin-left: 4px;
    height: 33px;
    width: 33px;
  }
  .grid3txt{
    text-align: center;
    font-family: AppleFont;
    font-style: normal;
    color:white;
  }
  .link6 {
    text-decoration:none;
    font-family: AppleFont;
    margin: 0 auto;
    display:block;
    text-align:center;
  }
  #gridimg4{
    background-image: url(./promo_apple_watch_series_8_spring__d9hfvufh7hyu_medium_2x.jpg);
  }

  .watch8{
    width: 150px;
    height:50px;
    display: block;
    margin: auto;
    padding-top: 25px;
  }

  .grid4txt{
    text-align: center;
    font-family: AppleFont;
    font-style: normal;
    color:white;
  }
  .link7 {
    text-decoration:none;
    font-family: AppleFont;
    margin: 0 auto;
    display:block;
    text-align:center;
  }
  #gridimg5{
    background-image: url(./promo_airpods_pro_avail__gaxggskofx6y_medium_2x.jpg) ;
  }

  .grid5txt{
    text-align: center;
    font-family: AppleFont;
    font-style: normal;
    color:white;
  }
  .link8 {
    text-decoration:none;
    font-family: AppleFont;
    margin: 0 auto;
    display:block;
    text-align:center;
  }
  .grid6txt{
    text-align: center;
    font-family: AppleFont;
    font-style: normal;
    color:#030202;
  }
  .link9 {
    text-decoration:none;
    font-family: AppleFont;
    margin: 0 auto;
    display:block;
    text-align:center;
  }

  .tradein {
    width: 220px;
    height:50px;
    display: block;
    margin: auto;
    padding-top: 25px;
  }
  #gridimg6{
    background-image: url(./iphone_tradein_promo__d5au3rkw5kuq_medium_2x.jpg)
  }

.footnotes {
  box-sizing: content-box;
  border-bottom-style: solid;
  border-bottom-color: rgb(210, 210, 215);
  border-bottom-width: 1px;
  padding: 22px 17px 22px 11px;
}

  footer{
    background-color: #f5f5f7;
    font-family: AppleFont;
    font-size: 12px;
    color: #6e6e73;
  }

  footer a{
    color: #424245
  }

  .directoryColumn{
    box-sizing: content-box;
    display: block;
    flex-basis: 25%;
    text-size-adjust: 100%;
    font-size: 12px;
  }

  @media(max-width: 1150px) {

    nav{
      height: 50px;
    }

    .text a{
      display: none;
    }

    #hamburger {
      display:block
    }
  }